<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>view-黑色时间轴个人博客模板</title>
<base href="__PUBLIC__/Home/">
<meta name="keywords" content="黑色模板,个人网站模板,个人博客模板,博客模板,css3,html5,网站模板" />
<meta name="description" content="这是一个有关黑色时间轴的css3 html5 网站模板" />
<link href="css/styles.css" rel="stylesheet">
<link href="css/view.css" rel="stylesheet">
<!-- 返回顶部调用 begin -->
<link href="css/lrtk.css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<!-- 返回顶部调用 end-->
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
<!-- 导航 -->
<include file="Public/nav" />

</header>
<!--header end-->
<div id="mainbody">
  <div class="blogs">
    <div id="index_view">
      <ol class="breadcrumb">
        <li><a href="{:U('Index/index')}">首页</a></li>
        <li class="active">{$catInfo.cat_name}</li>
      </ol>
      <h1 class="c_titile">{$artInfo.title}</h1>
      <p class="box">发布时间：{$artInfo.add_time|date="Y/m/d",###}<span>编辑：{$artInfo.author}</span>阅读（{$artInfo.read_num}）</p>
      <ul>
        {$artInfo.content}
      </ul>

      <div id="social">
        <div class="social-main">
          <span class="like">
          <a href="javascript:;" id="ding" data-action="ding" data-id="{$artInfo.art_id}" title="我赞" class="favorite done"><i class="fa fa-thumbs-up"></i>赞 <i class="count">{$artInfo.click_num}</i>
          </a>
          </span>
          <span class="shang-p">
            <span class="tipso_style" id="tip-p">
              <span class="shang-s"><a title="打赏《{$artInfo.title}》">赏</a></span>
            </span>
          </span>
          <span class="share-sd">
            <span class="share-s"><a href="javascript:void(0)" id="share-s" title="分享"><i class="fa fa-share-alt"></i>分享</a></span>
          </span>
          <div class="clear"></div>
        </div>
      </div>  
      
      <!-- 发表评论 -->
      <div id="comment">
        <h3><strong>发表评论:</strong></h3>
        <p>
          <span>标题：</span>
          <input type="text" name="" id="comm_title" class="text">
        </p>
        <p><span>内容：</span><textarea rows="10" id="content" cols="30" class="text-textarea"></textarea></p>
        <p style="text-align:right;"><button class="btn">发表</button></p>
      </div>
      
      <!-- 评论列表 -->
    <foreach name="comList" item="value">
      <div class="media">
         <a class="pull-left" href="#">
            <img class="media-object img-circle" src="images/touxiang.jpg" alt="媒体对象" width="80">
         </a>
         <div class="media-body">
            <h4 class="media-heading">
              <span class="pull-left">{$value.comm_title}</span>
              <time class="pull-right">{$value.add_time}</time>
            </h4>
            <p>{$value.content}<a href="javascript:void(0);" class="reply">回复</a></p>
            <br>
            <div style="display:none;">
              
              <textarea name="" cols="50" rows="2"></textarea>
              <input type="button" class="replyBtn" data-id="{$value.comm_id}" value="提交">
            </div>
            <foreach name="value['reply']" item="val">
            <p>匿名:{$val.reply_text}</p>
            </foreach>
         </div>
      </div>
    </foreach>
      
    </div>
    <!--bloglist end-->
    <aside>
      <div class="search">
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'">
        </form>
      </div>
      <div class="sunnav">
        <ul>
          <li><a href="/web/" target="_blank" title="网站建设">网站建设</a></li>
          <li><a href="/newshtml5/" target="_blank" title="HTML5 / CSS3">HTML5 / CSS3</a></li>
          <li><a href="/jstt/" target="_blank" title="技术探讨">技术探讨</a></li>
          <li><a href="/news/s/" target="_blank" title="慢生活">慢生活</a></li>
        </ul>
      </div>
      <!-- 推荐文章 -->
      <include file="Public:recommend" />
      <!--
      <div class="toppic">
        <h2>图文并茂</h2>
        <ul>
          <li><a href="/"><img src="images/k01.jpg">腐女不可怕，就怕腐女会画画！
            <p>伤不起</p>
            </a></li>
          <li><a href="/"><img src="images/k02.jpg">问前任，你还爱我吗？无限戳中泪点~
            <p>感兴趣</p>
            </a></li>
          <li><a href="/"><img src="images/k03.jpg">世上所谓幸福，就是一个笨蛋遇到一个傻瓜。
            <p>喜欢</p>
            </a></li>
        </ul>
      </div>
      -->
      <!-- 热门文章 -->
      <include file="Public:hot" />

    </aside>
  </div>
  <!--blogs end--> 
</div>
<!--mainbody end-->

<!-- 底部 -->
<include file="Public:footer" />

<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox"> <a id="togbook" href="/e/tool/gbook/?bid=1"></a> <a id="gotop" href="javascript:void(0)"></a> </div>
<!-- 代码结束 -->
</body>

<script>
  // 點讚
  $("#ding").click(function(){
    var _this = $(this);
    var url = "{:U('Article/clickNum')}";
    var art_id = _this.attr("data-id");
    $.get(url,{'art_id':art_id},function(result){
      // console.log(result);
      if(result.error)
      {
        // 变灰色
        _this.css("background","#878787");

        $(".count").text(result.num);
      }
      else
      {
        alert(result.msg);
      }
    },'json')
  })

  // 發表評論
  $(".btn").click(function(){
    var title = $("#comm_title").val();
    var content = $("#content").val();
    var art_id = "{$artInfo.art_id}";
    $.ajax({
      type:'POST',
      url:"{:U('Article/comment')}",
      data:"comm_title="+title+"&content="+content+"&art_id="+art_id,
      success:function(res)
      {
        $("#comment").after(res);
        // alert(res);
        $("#comm_title").val('');
        $("#content").val('');
      }

    })
  })

  // 展示回復框
  $(".reply").click(function(){
    $(this).parent().next().next().toggle('slow');

  })

  //提交回復
  $(".replyBtn").click(function(){
    var _this = $(this);
    var reply_text = _this.prev().val();
    var comm_id = _this.attr("data-id");
    var url = "{:U('Article/reply')}";
    $.get(url,{'reply_text':reply_text,'comm_id':comm_id},function(result){
      // console.log(result);
      if(result)
      {
        var html ="<p>匿名："+reply_text+"</p>";
        _this.after(html);
      }
      else
      {
        alert('回復失敗');
      }
    })

  })
</script>
</html>