<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>黑色时间轴个人博客模板</title>
<base href="__PUBLIC__/Home/">
<meta name="keywords" content="黑色模板,个人网站模板,个人博客模板,博客模板,css3,html5,网站模板" />
<meta name="description" content="这是一个有关黑色时间轴的css3 html5 网站模板" />
<link href="css/styles.css" rel="stylesheet">
<link href="css/animation.css" rel="stylesheet">
<!-- 返回顶部调用 begin -->
<link href="css/lrtk.css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/js.js"></script>
<!-- 返回顶部调用 end-->
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body>
<header>
<!-- 导航 -->
<include file="Public/nav" />

</header>
<!--header end-->
<div id="mainbody">

  <div style="height:10px;background:#000;border-radius:10px;margin:5px 0;"></div>

  <div class="blogs">
    <ul class="bloglist">
    <foreach name="artList" item="val">
      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <!--三角形-->
          <div class="ci"></div>
          <!--圆形-->
          <h2 class="title"><a href="/" target="_blank">{$val.title}</a></h2>
          <ul class="textinfo">
            <a href="/"><img src="images/s1.jpg"></a>
            <p>{$val.short_desc}</p>
          </ul>
          <ul class="details">
            <li class="likes"><a href="#">{$val.click_num}</a></li>
            <li class="comments"><a href="#">34</a></li>
            <li class="icon-time"><a href="#">{$val.add_time|date="Y/m/d H:i:s",###}</a></li>
          </ul>
        </div>
        <!--arrow_box end--> 
      </li>
    </foreach>
    </ul>
    <!--bloglist end-->
    <aside>
      <div class="search">
        <form class="searchform" method="get" action="#">
          <input type="text" name="s" value="Search" onFocus="this.value=''" onBlur="this.value='Search'">
        </form>
      </div>
      
      <!-- 推荐文章 -->
      <include file="Public:recommend" />

      <!-- 热门文章 -->
      <include file="Public:hot" />


      <div class="viny">
        <dl>
          <dt class="art"><img src="images/artwork.png" alt="专辑"></dt>
          <dd class="icon-song"><span></span>南方姑娘</dd>
          <dd class="icon-artist"><span></span>歌手：赵雷</dd>
          <dd class="icon-album"><span></span>所属专辑：《赵小雷》</dd>
          <dd class="icon-like"><span></span><a href="/">喜欢</a></dd>
          <dd class="music">
            <audio src="images/nf.mp3" controls></audio>
          </dd>
          <!--也可以添加loop属性 音频加载到末尾时，会重新播放-->
        </dl>
      </div>
    </aside>
  </div>
  <!--blogs end--> 
  <!-- 分页 -->
  <div class="page">
    <div class="list-page">
    {$show}
    </div>
  </div>
  
</div>
<!--mainbody end-->
<!-- 底部 -->
<include file="Public:footer" />

<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox"> <a id="togbook" href="/e/tool/gbook/?bid=1"></a> <a id="gotop" href="javascript:void(0)"></a> </div>
<!-- 代码结束 -->
</body>
</html>