<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <base href="__PUBLIC__/Admin/">
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script type="text/javascript" src="js/libs/modernizr.min.js"></script>
</head>
<body>
<!-- 引入头部 -->
<include file="Public:top" />

<div class="container clearfix">
    <!-- 左侧菜单栏 -->
    <include file="Public/menu" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:U('Category/index')}">分类管理</a><span class="crumb-step">&gt;</span><span>新增分类</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('Category/add')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                    <tbody>
<!--                         <tr>
                            <th width="120"><i class="require-red">*</i>分类：</th>
                            <td>
                                <select name="colId" id="catid" class="required">
                                    <option value="">请选择</option>
                                    <option value="19">WEB开发</option>
									<option value="20">Linux运维</option>
                                </select>
                            </td>
                        </tr> -->
                            <tr>
                                <th><i class="require-red">*</i>分类名：</th>
                                <td>
                                    <input class="common-text required" id="title" name="cat_name" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>排序：</th>
                                <td><input class="common-text" name="sort" size="50" value="50" type="text"></td>
                            </tr>

                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>